<ion-header>
  <div style="background:#ff6e0d ;text-align: center">
    <img class="imgProduct" src="assets/images/logoWhite.png">
  </div>
  <div *ngIf="showCover" class="cover">
    <h1>coffee</h1>
  </div>
</ion-header>

<ion-content [dir]="dir">
  <div class="ion-padding-start">

    <div class="back">
      <p>{{Menu}}</p>
      <ion-button (click)="goBack()">{{Back}}</ion-button>
    </div>

    <section class="Content">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="navgation" style="margin-top: -20px ;">
            <div>
              <div (click)="gotToSugg()" class="menuItem">
                <img src="assets/images/best.png">
                <p>Best Selling</p>
              </div>
              <div *ngFor="let item of categoris" class="menuItem" (click)="gotToDetails(item)">
                <img src="{{item.Image}}">
                <p>{{item.Name}}</p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="products">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="rowOne colOne">
                    <div (click)="gotToSugg()">
                      <img src="assets/images/best.png">
                      <p class="name">Best Selling</p>
                    </div>
                  </ion-col>
                  <ion-col size="4" class="rowOne" [ngClass]="{'colOne':item.status == false}"
                    *ngFor="let item of categoris ; let i = index" (click)="gotToDetails(item)">
                    <img src="{{item.Image}}">
                    <p class="name">{{item.Name}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>

  <section class="footer">
    <div class="myOrder">
      <h4>{{MyOrder}}</h4>
    </div>
    <div class="foter">
      <p>{{arrOfModLength}}</p>
      <div class="confirmOrCancel">
        <ion-button (click)="cancelOrder()" [disabled]="disalbedButton">{{Cancel}}</ion-button>
        <ion-button (click)="Done()" [disabled]='disalbedButton'>{{OrderDone}}</ion-button>
      </div>
    </div>
  </section>




</ion-content>