<!-- <ion-header>
  <div>
    <img class="imgProduct" src="assets/images/panner.jpeg">
  </div>
  <div class="cover">
    <h1>{{nameOfCat}}</h1>
  </div>
</ion-header> -->
<div class="header">
  <img class="imgProduct " src="assets/images/kiosk.png">
</div>

<ion-content [dir]="dir">
  <div class="">
    <div class="back" [ngClass]="{'back':dir == 'ltr', 'backIfRight':dir == 'rtl'}">
      <ion-button (click)="goBack()">{{Back}}</ion-button>
    </div>

    <ion-grid class="Content">
      <ion-row style="padding: 0">
        <ion-col class="menu" [ngClass]="{'ifClick':showModfire}" size="3">
          <p class="mainMenu">{{Menu}}</p>
          <div>
            <div class="menuItem">
              <img src="assets/images/mostSelling.png">
              <p>{{bestSelling}}</p>
            </div>
            <div class="menuItem" (click)="gotToItems('Discount')">
              <img src="assets/images/discount.png">
              <p>{{discount}}</p>
            </div>
            <div class="menuItem" routerLink="/promtions">
              <img src="assets/images/promotion.png">
              <p>{{promotions}}</p>
            </div>
            <div *ngFor="let item of categoris" class="menuItem" (click)="ChoseCategori(item)">
              <img src="{{item.Image}}">
              <p>{{item.Name}}</p>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="products" [ngClass]="{'ifClick':showModfire}">
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="rowOne colOne" (click)="GetModifiresbyProductId(item,item.Id)"
                  *ngFor="let item of items ; let i = index">
                  <p class="price_name">
                    LE.{{item.Price}}
                  </p>
                  <img src="{{item.Image}}">
                  <p class="nameOfPrdocuct">{{item.Name}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div [ngClass]="{'cover2':showModfire}"></div>
  </div>


  <section class="recmoended" *ngIf="showModfire">
    <div class="Modfires">
      <h1>{{Modfires}}</h1>
      <ion-button (click)="close()">{{Back}}</ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col (click)="gotToDetails(item)" *ngFor="let item of ModifiresbyProductId ; let i = index" size="3">
          <p class="price">LE.{{item.Price}}</p>
          <img src="{{item.Image}}">
          <p class="name">{{item.Name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="next" (click)="gotToDetails('normal')">{{Next}}</ion-button>
  </section>

  <section class="footer">
    <div class="myOrder">
      <h4>{{MyOrder}}</h4>
    </div>
    <div class="foter">
      <p>{{arrOfModLength}}</p>
      <div class="confirmOrCancel">
        <ion-button [disabled]="arrOfModLength" (click)="Done()">{{OrderDone}}</ion-button>
        <ion-button [disabled]="arrOfModLength" (click)="cancelOrder()">{{Cancel}}</ion-button>
      </div>
    </div>
  </section>




</ion-content>