<!-- <div class="block" *ngIf="block"></div> -->
<ion-header>
  <div class="back" style="background: #010100">
    <ion-img class="logoImage" src="assets/images/bingo.png"></ion-img>
    <ion-button (click)="goBack()">{{Back}}</ion-button>
  </div>
</ion-header>

<ion-content [dir]="dir">
  <ion-spinner dir="ltr" *ngIf="block" name="circles"></ion-spinner>
  <div class="title">
    <p style="color: #fff ; font-size: 5vw">{{reviewMyOrder}}</p>
  </div>
  <div class="form-group serial" [dir]="dir" *ngIf="!block">
    <input (input)="inputChange($event)" [(ngModel)]="serialNumber" [placeholder]="placeHolder" class="btn btn-primary"
      type="text">
    <ion-button [disabled]="serialNumber == ''" style="color: #000" (click)="validSerial()">{{serialVaild}}</ion-button>
  </div>
  <p *ngIf="showStatusValid" style="color: green" class="giftCard">{{giftCardISVaild}} {{giftCardCount}} {{LE}}</p>
  <p *ngIf="showStatusValidFalse && serialNumber != ''" style="color: red" class="giftCard">{{giftCardISVaild}}</p>

  <div class="containerPrdouct" [dir]="dir" *ngIf="!block">
    <div class="containerOfShaping" style="margin-top: 5%;" *ngFor="let product of item ; let i = index">
      <p *ngIf="product.Prdoucts[0].compoName">{{product.Prdoucts[0].compoName}} - {{product.Prdoucts[0].parentCombo}} - {{product.Prdoucts[0].sizeName}}</p>
      <div class="nameAndPrice" *ngFor="let item of product.Prdoucts">
        <p>{{item.count}}x {{item.Name}}</p>
        <p *ngIf="!product.Prdoucts[0].sizeName">{{item.Price * item.count | number : '1.2-2'}} {{LE}} </p>
      </div>
      <hr>
      <div *ngIf="product.ingridtArr.length ">
        <div class="nameAndPrice" *ngFor="let item of product.ingridtArr">
          <p> {{item.count}}x {{item.Name}}</p>
          <p>{{item.Price * item.count | number : '1.2-2'}} {{LE}}</p>
        </div>
      </div>
      <hr>
      <div *ngIf="product.modfire.length ">
        <div class="nameAndPrice" *ngFor="let item of product.modfire">
          <p> {{item.count}}x {{item.Name}}</p>
          <p>{{item.Price * item.count | number : '1.2-2'}} {{LE}}</p>
        </div>
      </div>
      <hr>
      <div>
        <p *ngIf="product.discount && product.DiscountType == 1 && langId != 1" class="right">{{Total}} <s
            style="color: red">{{LE}}.{{product.oldTotal | number : '1.2-2'}}</s> <br>
          ({{product.discount * product.Prdoucts[0].count}}%) {{upto}} {{product.MaxDiscountAmount}} </p>

        <p *ngIf="product.discount && product.DiscountType == 2 && langId != 1" class="right">{{Total}} <s
            style="color: red">{{LE}}.{{product.oldTotal | number : '1.2-2'}}</s> <br>
          (-{{product.discount * product.Prdoucts[0].count}}) {{Discount}} </p>

        <p *ngIf="product.discount && product.DiscountType == 1 && langId == 1" class="right">{{Total}} <s
            style="color: red">{{product.oldTotal | number : '1.2-2'}} {{LE}}</s> <br>
          ({{product.discount * product.Prdoucts[0].count}}%) {{upto}} {{product.MaxDiscountAmount}} </p>

        <p *ngIf="product.discount && product.DiscountType == 2 && langId == 1" class="right">{{Total}} <s
            style="color: red">{{product.oldTotal | number : '1.2-2'}} {{LE}}</s> <br>
          (-{{product.discount * product.Prdoucts[0].count}}) {{Discount}} </p>

        <p *ngIf="product.discount" class="right"> {{product.total | number : '1.2-2'}} {{LE}}</p>
        <p *ngIf="!product.discount" class="right"><span>{{Total}} </span> {{product.total | number : '1.2-2'}} {{LE}}
        </p>
      </div>
      <div class="editOrRemove">
        <ion-button (click)="removeItem(i,product)">{{Remove}}</ion-button>
        <div class="plusAndMuins" [dir]="dir">
          <ion-button (click)="plus(product)">+</ion-button>
          <ion-button class="countProduct">{{product.Prdoucts[0].count}}</ion-button>
          <ion-button (click)="minus(product)">-</ion-button>
        </div>
        <!-- <ion-button (click)="edit(product.Id)">{{Edit}}</ion-button> -->
      </div>

    </div>
  </div>




  <div class="fotter" *ngIf="!block">
    <p style="color: #fff ; font-size: 4vw ; font-weight: bold">( {{serviceName}} {{serviceVat}}% ) {{service | number : '1.2-2'}} {{LE}}</p>
    <p style="color: #fff ; font-size: 4vw ; font-weight: bold">( {{Vat}} {{TaxGroup}}% ) {{VatValue | number : '1.2-2'}} {{LE}}</p>
    <p style="color: #fff ; font-size: 4vw ; font-weight: bold">{{Total}}
      {{totalPrice | number : '1.2-2'}} {{LE}}</p>
    <div class="ion-foter" dir="ltr">
      <ion-button [disabled]="block" (click)="cancel()">{{Cancel}}</ion-button>
      <ion-button [disabled]="block" (click)="goToCheckOut()">{{CheckOut}}</ion-button>
    </div>
  </div>
</ion-content>