<ion-header>
  <div>
    <img class="imgProduct" src="assets/images/panner.jpeg">
  </div>
  <div class="cover">
    <h1>{{Suggestions}}</h1>
  </div>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
  <div (click)="goBack()" class="back">
    <ion-button>{{Back}}</ion-button>
  </div>

  <div class="products">
    <ion-grid>
      <ion-row >
        <ion-col size="4" class="rowOne" (click)="goToOeder(item)"
        [ngClass]="{'colOne':item.status == false}"
         *ngFor="let item of mostSellingArr ; let i = index">
          <p class="price">LE.{{item.Price}}</p>
          <img src="{{item.Image}}">
          <p class="name">{{item.Name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="noThanks" (click)="noThanks()">
    <ion-button>{{Thanks}}</ion-button>
  </div>
</ion-content>