<div class="header">
    <img class="imgProduct " src="assets/images/bingo.png">
  </div>
  
  <ion-content [dir]="dir">
    <div class="">
      <div class="back" [ngClass]="{'back':dir == 'ltr', 'backIfRight':dir == 'rtl'}">
        <ion-button (click)="goBack()">{{Back}}</ion-button>
      </div>
      <ion-grid style="padding: 0">
        <ion-row>
          <ion-col class="menu" [ngClass]="{'ifClick':showModfire}" size="3">
            <p class="mainMenu"> {{Menu}} </p>
            <div  class="menuItem" routerLink="/compo">
                <img src="assets/images/mostSelling.png">
                <p>{{combo}}</p>
              </div>
            <div class="menuItem" (click)="gotToDetails('Discount')">
              <img src="assets/images/discount.png">
              <p>{{discount}}</p>
            </div>
            <div class="menuItem" routerLink="/promtions">
              <img src="assets/images/promotion.png">
              <p>{{promotions}}</p>
            </div>
            <div>
              <div *ngFor="let item of categoris" class="menuItem" (click)="ChoseCategori(item)">
                <img src="{{item.Image}}">
                <p>{{item.Name}}</p>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="products" [ngClass]="{'ifClick':showModfire}">
              <ion-grid>
                <ion-row>
                  <!--  [ngClass]="{'colOne':item.status == false}" -->
                  <ion-col size="6" class="rowOne colOne"
                   (click)="goToProd(item)"
                    *ngFor="let item of products ; let i = index">
                    <!-- <span *ngIf="langId != 1" class="price_name">{{LE}} {{item.Price}}</span>
                    <span *ngIf="langId == 1" class="price_name">{{item.Price}} {{LE}}</span> -->
                    <img src="{{item.image}}">
                    <p class="price_name">{{item.Name}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div [ngClass]="{'cover2':showModfire}"></div>
    </div>
  
  
  
  
    <section class="footer">
      <div class="myOrder">
        <h4>{{MyOrder}}</h4>
      </div>
      <div class="foter">
        <p>{{arrOfModLength}}</p>
        <div class="confirmOrCancel" dir="ltr">
          <ion-button [disabled]="arrOfModLength" (click)="cancelOrder()">{{Cancel}}</ion-button>
          <ion-button [disabled]="arrOfModLength" (click)="Done()">{{OrderDone}}</ion-button>
        </div>
      </div>
    </section>
  
  
  
  
  </ion-content>