<!-- <ion-header>
  <div>
    <img class="imgProduct" src="assets/images/panner.jpeg">
  </div>
  <div class="cover">
    <h1>{{nameOfItem}}</h1>
  </div>
</ion-header> -->
<div class="header">
  <img class="imgProduct " src="assets/images/bingo.png">
</div>


<ion-content [dir]="dir">
  <div [ngClass]="{'back':dir == 'ltr','backIfRight':dir == 'rtl'}">
    <ion-button (click)="goBack()">{{Back}}</ion-button>
  </div>

  <section class="order ion-padding-start ion-padding-end">
    <div class="orderInfo">
      <img src="{{image}}">
      <div>
        <p>{{nameOfItem}}</p>
        <!-- <p *ngIf="item.ingridtArr.length != 0">{{edit}}</p> -->
        <span *ngIf="langId != 1">{{LE}} {{itemPrice | number : '1.2-2'}}</span>
        <span *ngIf="langId == 1">{{itemPrice | number : '1.2-2'}} {{LE}}</span>
      </div>
    </div>
    <!-- <div *ngIf="item.ingridtArr.length != 0">
      <ion-button class="cistomiz" routerLink="/add-modfires">{{Customized}}</ion-button>
    </div> -->

  </section>
  <!-- <div *ngIf="item.ingridtArr.length != 0" class="ExtraName  ion-padding-start ion-padding-end">
    <div class="order" *ngFor="let item of arrayOfIngr">
      <p> ( {{modfieres}} ) : {{item.count}} {{item.Name}}</p>
      <p *ngIf="langId != 1">{{Price}} {{LE}} {{item.Price}}</p>
      <p *ngIf="langId == 1">{{item.Price}} {{LE}} {{Price}} </p>
    </div>
    <hr>
  </div>
  <div *ngIf="item.modfire.length != 0" class=" ExtraName  ion-padding-start ion-padding-end">
    <div class="order" *ngFor="let item of modfiresArr">
      <p>( {{ingedtiont}} )  : {{item.count}} {{item.Name}}</p>
      <p *ngIf="langId != 1">{{Price}} {{LE}} {{item.Price}}</p>
      <p *ngIf="langId == 1">{{item.Price}} {{LE}} {{Price}} </p>
    </div>
  </div> -->
  <!-- <div *ngIf="showOrHideMod" class="ion-padding-start ion-padding-end">
    <hr>
  </div> -->

  <div class="quantity">
    <p>
      {{Quantity}}
    </p>
    <div class="plus" [dir]="dir">
      <div>
        <ion-button (click)="plus()">+</ion-button>
        <div class="count">
          <p>{{count}}</p>
          <ion-button (click)="minus()">-</ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" dir="ltr">
    <div>
      <ion-button (click)="cancelOrder()">{{Cancel}}</ion-button>
      <ion-button (click)="gotoCustmoize()">{{addChange}}</ion-button>
    </div>
  </div>
</ion-content>