
.header{
    text-align: center;
    background: #fcef50
}
ion-button {
    --background: #E1E1E1;
    --color: black; 
    text-transform: none;
  }
  ion-content{
    --background:#fff ;
    --color: black
}

  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background: rgba(255, 255, 255, 0.79);
    text-align: center;
    color: #fff;
    top: 0
  }
  .cover2 {
    position: absolute;
    width: 100%;
    height:27vh;
    top: 0;
    background: rgb(255 255 255 / 79%);;
    text-align: center;
    color: #000
  }
  .cover h1 {
      font-weight: bold;
      margin-top: 12%;
      font-size: 5vw;
      color: black
  }
  .back {
    text-align: right;
  }
  .backIfRight{
    text-align: left;
  }
  .back p , .backIfRight P{
      font-weight: bold;
      font-size: 5vw;
  }
  .back ion-button , .backIfRight ion-button{
    --padding-start: 2em;
    --padding-end: 2em;
    --border-radius:5px;
    margin-top: 2%;
    font-size: 5vw;
    height: auto;
    margin-bottom: 5%;
    height: 100px;
  }
  .products{
    text-align: center;
}
.products .price{
    text-align: left;
    font-size: 11px;
    margin: 0
}
.products .name{
    font-size: .8rem;
    margin-bottom:5px;
    margin-top: 0;
    font-weight: bold
}
.products .rowOne{
    border-bottom: 1px solid #c2c2c2;
}
.colOne{
    border-right: 1px solid #c2c2c2;
}
.menuItem{
    padding: 30px 0;
    border-bottom: 1px solid #c2c2c2;

}
.menuItem p{
    margin: 0;
    font-size: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;

}
.menuItem img {
    height: 150px;
}
.price_name{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 10px;
    font-size: 3vw
}
.myOrder{
    background: #E1E1E1;
    padding :5px 10px
}
.myOrder h4 {
    margin: 0;
    font-size: 5vw;
    color: black
}

.confirmOrCancel{
    display: flex;
    justify-content: space-around;
}
.confirmOrCancel ion-button{
    width: 33%;
}
.foter p {
    text-align: center;
    font-size: 5vw;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 1%

}
.recmoended p{
    margin: 0;
    font-size: 5vw;

}

.menu{
    overflow-y: scroll;
    border-radius: 5px;
    margin-top: -17%;
    background: #f0f0f0;
    height: 72vh;
    text-align: center;
}
.menu div {
    border-bottom: 1px solid gray;
}
.menu .mainMenu{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50%;
}
.products{
    height: 52vh;
    overflow-y: scroll;
    padding-bottom: 10px;
}
.products img {
    height: 150px;
}

.ifClick{
    height:19vh !important;
}

.recmoended ion-button{
   --background: #E1E1E1;
   font-size: 5vw;
   height: auto;;
   
}
.Modfires{
 display: flex;
 justify-content: space-between
}

.Modfires h1 {
    margin-top: 8px;
    padding-left: 5px;
    font-size: 7vw;
}
.confirmOrCancel ion-button{
    font-size: 4vw;
    height: 112px;
}
.next {
    position: absolute;
    bottom: 24%;
    height: 100px !important;
    left: 14px;
    --background: rgb(252, 180, 0)!important;
    color: #000
}
// .nextModfire {
//     height: 100px;
// }
// .nextModfire ion-button{
//     --background: #c2c2c2;
//     height: 100%;
// }

@media only screen and (max-width:768px){
    .imgProduct{
        height: 71px;
    }
    .menu {
        height: 67vh;
        margin-top: -19%;
    }
    .menuItem{
        padding: 12px 0;
    }
    .menuItem img {
        height: 50px;
        width: auto
    }
    .back ion-button{
        height: 36px;
    }
    .menu .mainMenu{
        font-size: 13px;
    }
    .products img{
        width: auto;
        height: 90px;
        
    }
    .confirmOrCancel ion-button{
      height: 44px;
    }
    .ifClick{
        height:10vh !important;
    }
    .cover2{
        height:23vh;
    }
    .next {
        height: 36px !important;
    }
    .back ion-button , .backIfRight ion-button{
        height: 41px;
      }
      .next  {
        bottom: 25%;
        left: 5px;
    }
  }