ion-content{
  --background: #212121;
}
ion-button {
  --color: black; 
  text-transform: none;
}
.back {
  text-align: right;
  text-transform: none
}

.logo{
  display: flex;
  justify-content: center
}
.logo .logoImage {
   width: 50%;
  border-radius: 10px
}

.title{
  text-align: center
}
.title h1 {
  font-size: 5vw;
  color: #fff;
  margin-top: 0
}
.product{
  border: 10px solid #e6e3e3;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height:33vh;

}
.product .imgProduct{
  margin: 30px auto;
  margin-top: 25%;
  width: 54%;
  height: 45% !important;
}
.product .button{
  --background:#fab328; 
  text-transform: none;
  font-size: 5vw;
  height: 19%;
  --border-radius: 0
}
.product .button .button-native{
  padding: 20px
}

.footer{
  text-align: center;
  margin-top: 10%;
  height: 5%;
}
.footer .button{
  width: 34%;
  margin-right: 12px;
  margin-left: 14px;
  text-transform: none;
  font-size: 5vw;
  height: 100px;
  --background:#fff; 
  --border-radius: 0
}
.footer .lang{
  background: #a8a8a8;
  margin-right: 12px;
  padding: 5px;
}

.changeLang{
  --background: #ff6e0d;
}

@media only screen and (max-width:768px){
  .product{
    height: 33vh;
  }
  .footer .button{ 
    height: 35px;
  }
}