ion-content{
  --background:#010100;
}
ion-button {
  --color: black; 
  text-transform: none;
}
.back {
  text-align: right;
  text-transform: none
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 13%;
}
.logo .logoImage {
   width: 50%;
  border-radius: 10px
}

.title{
  text-align: center
}
.title h1 {
  font-size: 5vw;
  color: #fff;
  margin-top: 0
}

.ion_col{
  margin-right: 15px
}
.product{
  border:25px solid #fff;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height:30vh;
 // background: black;
  border-radius: 5px;
}
.product .imgProduct{
  margin: 30px auto 0 auto;
  margin-top: 25%;
  width: 54%;
  height: 45% !important;
}
.product .button{
  --background: #fcef50; 
  text-transform: none;
  font-size: 5vw;
  height: 19%;
  --border-radius:5px
}
.product .button .button-native{
  padding: 20px
}

.footer{
     margin-top: 10%;
     justify-content: space-evenly;
     display: flex;
}
.footer .button{
  width: 34%;
  font-size: 5vw;
  border-radius: 5px;
  background: #fff;
  color: rgb(60, 60, 59);
  height: 100%;
  height: 115px;
  padding-top: 20px

}
.footer .lang{
  // background: #cccccc;
  font-weight: bold
}

.changeLang{
  background: #fcef50 !important;
}

.languish{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.languish p {
  margin: 0
}
.changeLangEnglis{
  margin-left: 2%
}
@media only screen and (max-width:768px){
  .product{
    height: 29vh;
    border: 10px solid #fff;
  }
  .changeLangEnglis{
    margin-left: 5%;
  }
  .footer .button{ 
    font-size: 4vw;
    height: 44px;
    padding-top: 4%;
  }
  .english{
    margin-top: 16%;
  }
  .arabic {
    margin-top: 14%;
  }
}